body{
    background-color: rgb(233, 237, 249);
}
header{
    font-size: 30px;
    color: blue;
    margin-top: 100px;
    margin-left: 150px;
}
form{
    margin-left: 120px;
    display: flex;
    flex-direction: column;
    max-width: 120px;
    padding: 40px;
}
form #contenu {
   height: 80px;
   width:400px; 
}

form #titre{
  width: 250px;
}
.champs{
  padding: 10px;;
}
