video {
    opacity: 35%;
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index:-100;
    padding: 0;
    bottom:0;
  }

/* Contenu principal pour que la page ait assez de hauteur */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    background-color: rgb(200, 200, 200);
    min-height: 100vh;
}

header {
    color: white;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.501);
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding:0 40px ;
    margin: 0 0 0 0;
    background: linear-gradient(320deg, rgb(200, 200, 200), black)
}
header *{
    color: white;
    text-decoration: none;
    font-size: 32px;
 
}
header a{
    font-size: 16px;
 
}
header a:hover{
    text-decoration: underline;
 
}
#posts{
    margin: 10px 10px 40px 10px ;
}
.post {
    background-color: rgba(220, 220, 220, 0.85);
    margin-bottom: auto;
    padding: 20px;
    border: 1px solid #0000002c;
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    margin: 10px;
}

.post:hover {
    position: relative;
    top: -5px;
    cursor: pointer;
}
.post h3 {
    margin-top: 0;
}

.post a {
    color: #007bff;
    text-decoration: none;
}

.post a:hover {
    text-decoration: underline;
}

.user-link {
    display: block;
    margin-top: 10px;
    font-size: 14px;
}

footer {
    
    font-size: 0.8rem;
    min-width: 100%;
    position: fixed;
    padding: 0;
    bottom:0;
    color: white;
    background: linear-gradient(70deg, rgb(0, 0, 0), rgb(200, 200, 200))
}

footer *{
    margin-left: 5px;
}